body {
    color : white;
    background-color: black;
    font-family: Sans-serif;
    font-size: 105%;
}

#player {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
}

audio {
    width: 100%;
    display:block;
}

#playlist {
    margin-top: 60px;
    border-collapse:collapse;
    width: 100%;
}

#playlist td {
    padding: 8px;
}

#playlist tr:hover {
    background-color: darkgrey;
}

#playlist .current-song td {
    color: black;
    background-color: white;
}
