/*table, th, td { border: 1px solid green; }*/

/* MAIN */
/********/

body {
    color : white;
    background-color: rgb(30, 30, 30);
    font-family: Sans-serif;
    font-size: 105%;
}

/* PLAYER */
/**********/
#player {
    width: 100%;
    height: 50px;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgb(70, 70, 70);
    position: fixed;
    left: 0;
    bottom: 0;
}

#playerControls {
    margin-top: 5px;
    width: 100%;
    border-collapse: collapse;
}

#previous, #playpause, #next, #volumeIcon {
    cursor: pointer;
    width: 30px;
    height: 20px;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
}

#previous { background-image: url(icons/previous.png); }
#playpause { background-image: url(icons/play.png); background-size: 20px; }
#next { background-image: url(icons/next.png); }
/*#volumeIcon{ background-image: url(icons/vol-01.png); }*/

.playerControlSpacer {
    width: 10px;
    height: 25px;
}

#currentTime, #totalTime {
    width: 55px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 80%;
}

div.playerMargin {
    width: 100px;
}

td.expanding {
    width: 99%;
}

#seekClickable {
    cursor: pointer;
    width: 98%;
    height: 15px;
    padding-top: 10px;
}

#seekBackdrop {
    background-color: rgb(50, 50, 50);
}

#seekBar {
    background-color: white;
    height: 5px;
    width: 0%;
}

.title,
.details {
    margin: 5px;
}

.title {
    font-size: 105%;
    font-weight: bold;
}

.details {
    font-size: 80%;
    color: darkgrey;
}

.selected td {
    background-color: rgb(120, 120, 120);
}

.selected p {
    color: white;
}

/* HEADER */
/**********/
#logo {
    margin: 20px;
    width: 110px;
}

#header {
    width: 100%;
    font-size: 115%;
    box-sizing: border-box;
    background-color: rgb(70, 70, 70);
    position: fixed;
    top: 0;
    left: 0;
}

#header table {
    height: 100px;
    width: 100%;
    border-collapse:collapse;
}

.headerLogo {
    margin-left: 200px;
    width: 150px;
    height: 80px;
    background-image: url(icons/logo.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.headerSong {
    width: 400px;
    text-align: right;
}


/* DROP FILE */
/*************/
.headerUpload {
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    width: 200px;
    font-size: 65%;
}

#dropfile {
    height: 50px;
    width: 50px;
    background-image: url(icons/upload.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 50%;
    text-align: center;
}

#dropfile:hover, .dragHover, .dragHoverError {
    outline: 3px dashed white;
    outline-offset: -2px;
}

#dropfile:hover {
    outline: 3px dashed rgb(120, 120, 120);
    outline-offset: -2px;
}

#form {
    position: absolute;
    top: 23px;
    right: 36px;
}

.button {
    cursor: pointer;
    padding: 8px;
    background-color: rgb(120, 120, 120);
}

.hiddenFormItem {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#message {
    height: 40px;
}

#uploadDiv {
    height: 25px;
    margin-top: 20px;
}

#uploadBackdrop {
    background-color: rgb(50, 50, 50);
}

#uploadProgress {
    background-color: white;
    height: 5px;
    width: 0%;
}

/* AUTHORS */
/***********/
#authorsScrollable {
    box-sizing: border-box;
    position: fixed;
    left:15%;
    margin-left: -125px;
    top: 110px;
    bottom: 60px;
    overflow-y : auto;
    overflow-x : hidden;
}

#authors {
    border-collapse:collapse;
    width: 250px;
}

#authors td {
    cursor: pointer;
    border-bottom: 1px solid rgb(80, 80, 80);
    padding-left: 10px;
}

#authors tr:hover {
    background-color: rgb(60, 60, 60);
}

/* PLAYLIST */
/************/
#playlistScrollable {
    background-color: rgb(30, 30, 30);
    box-sizing: border-box;
    position: fixed;
    top: 110px;
    bottom: 60px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    overflow-y : auto;
    overflow-x : hidden;
}

#playlist {
    border-collapse:collapse;
    width: 100%;
}

#playlist td {
    cursor: pointer;
    border-bottom: 1px solid rgb(80, 80, 80);
    padding-left: 10px;
}

#playlist tr:hover {
    background-color: rgb(60, 60, 60);
}
