/* MAIN */
/********/

body {
    color : white;
    background-color: black;
    font-family: Sans-serif;
    font-size: 105%;
}

/* PLAYER */
/**********/

#player {
    width: 100%;
    height: 50px;
    padding: 5px;
    box-sizing: border-box;
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: 1px solid darkgrey;
}

#player img {
    width: 20px;
    padding: 5px;
}


.songTitle,
.songDetails {
    margin: 5px;
}

.songTitle {
    font-size: 105%;
    font-weight: bold;
}

.songDetails {
    font-size: 80%;
    color: darkgrey;
}

/* HEADER */
/**********/

#logo {
    margin: 20px;
    width: 110px;
}

#header {
    width: 100%;
    height: 100px;
    font-size: 115%;
    box-sizing: border-box;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid darkgrey;
}

#header table {
    width: 100%;
    border-collapse:collapse;
}

.headerLogo {
    margin-left: 200px;
    width: 150px;
    height: 80px;
    background-image: url("icons/logo.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.headerSong {
    width: 400px;
    text-align: right;
}

.headerUpload {
    width: 100px;
}

#seekBackdrop {
    width: 500px;
    background-color: rgb(60, 60, 60);;
}

#seekBar {
    background-color: white;
    height: 10px;
    width: 0%;
}

/* DROP FILE */
/*************/

#dropfile {
    margin: 10px;
    width: 100px;
    height: 80px;
    background-image: url("icons/upload.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 50%;
    text-align: center;
}

.dragHover {
    background-size: 45%;
    background-color: darkgrey;
}

.dragHoverError {
    background-size: 45%;
    background-color: red;
}

#dropfile:hover {
    background-size: 45%;
}

/* PLAYLIST */
/************/

#playlist {
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    margin-bottom: 60px;
    border-collapse:collapse;
    width: 500px;
}

#playlist td {
    border-bottom: 1px solid darkgrey;
    padding-left: 10px;
}

#playlist tr:hover {
    background-color: rgb(60, 60, 60);
}

#playlist .current-song td {
    color: black;
    background-color: white;
}

#playlist .current-song p {
    color: black;
}
